
table, td, th, #scrn {
    border: 1px solid black;
}
#scrn{
    width: 50%;
    height: 2rem;
    margin-bottom: 5px;
}

table{
    border-collapse: collapse;
    width: 50%;
}
td{
    text-align: center;
}
td:hover{
    background-color: burlywood;
}
.red{
    background-color:crimson;
}
.red:hover{
    background-color: darkgray;
}
#scrn{
    text-align: end;
    font-size: 2rem;
}
